<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer th:fragment="footer" class="container">
    <p>
        <span sec:authorize="isAuthenticated()">
            Logged user: <span class="mr-3" sec:authentication="name"></span>
            Roles: <span class="mr-3" sec:authentication="principal.authorities"></span>
        </span>
    </p>
    <select class="form-control form-control-sm col-md-1" data-width="fit">
        <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
        <option  data-content='<span class="flag-icon flag-icon-ua"></span> Ukrainian'>Ukrainian</option>
    </select>
</footer>
</body>
</html>