<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Navbar fragment</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/index">
        <img th:src="@{/images/stopwatch-white.svg}" class="d-inline-block align-top" alt="" width="30" height="30">
        Time-Tracker
    </a>
    <div class="collapse navbar-collapse" id="navbars">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index" th:text="#{link.home}"></a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item active">
                <a class="nav-link" href="/users" th:text="#{link.all_users}"></a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item active">
                <a class="nav-link" href="/activities" th:text="#{link.all_activities}"></a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0" sec:authorize="!isAuthenticated()">
            <form action="/registration" method="get">
                <button type="submit" class="btn btn-outline-primary mr-3 my-2 my-sm-0" th:text="#{button.signup}">Sign up</button>
            </form>
            <form action="/login" method="get">
                <button type="submit" class="btn btn-primary my-2 my-sm-0" th:text="#{button.signin}"></button>
            </form>
        </div>
        <div sec:authorize="isAuthenticated()">
            <form class="form-inline my-2 my-lg-0" action="/logout" method="get">
                <button type="submit" class="btn btn-primary my-2 my-sm-0" th:text="#{button.signout}">Log out</button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>