<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/signin.css}" >
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body class="text-center" ng-app="loginFormApp" ng-controller="loginFormController">
<form class="form-signin" th:action="@{/login}"  method="post">
    <a href="/index"><img class="mb-4" th:src="@{/images/stopwatch.svg}" width="100" height="100"></a>
    <h1 class="h3 mb-3 font-weight-normal" th:text="#{login.header}">Sign in to Time-Tracker</h1>
        <div th:if="${logout}" class="alert alert-success" role="alert" th:text="#{login.logout.success}">
            You have been logged out successfully
        </div>
        <div th:if="${error}" class="alert alert-danger" role="alert" th:text="#{login.error}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Incorrect email or password
        </div>
    <label id="emailLabel" for="email" class="sr-only" th:text="#{login.label.email}">Email address</label>
    <input type="email"
           id="email"
           name="email"
           class="form-control"
           th:placeholder="#{login.input.email.placeholder}"
           required
           autofocus
           ng-model="regData.email">
    <label id="passwordLabel" for="password" class="sr-only" th:text="#{login.label.password}">Password</label>
    <input type="password"
           name="password"
           id="password"
           th:placeholder="#{login.input.password.placeholder}"
           required
           class="form-control"
           ng-model="regData.password">
    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{button.signin}"></button>
    <div class="card" style="margin-top: 20px">
        <div class="card-body">
            <p class="card-text" >
                <span th:text="#{login.new}"></span>
                <a th:text="#{login.new.create}" th:href="@{/registration}" class="memberNameLink"></a>
            </p>
        </div>
    </div>
</form>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script type="text/javascript" th:src="@{/js/loginFormApp.js}"></script>
</body>
</html>