<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/signin.css}" >
</head>
<body class="text-center">
<form class="form-signin" th:action="@{/login}"  method="post">
    <a href="/index"><img class="mb-4" th:src="@{/images/stopwatch.svg}" width="100" height="100"></a>
    <h1 class="h3 mb-3 font-weight-normal" th:text="#{login.header}">Sign in to Time-Tracker</h1>
        <div th:if="${logout}" class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="#{login.logout.success}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="#{login.error}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <label id="usernameLabel" for="username" class="sr-only" th:text="#{login.label.username}"></label>
    <input type="text"
           id="username"
           name="username"
           class="form-control"
           th:placeholder="#{login.input.username.placeholder}"
           required
           autofocus
    >
    <label id="passwordLabel" for="password" class="sr-only" th:text="#{login.label.password}"></label>
    <input type="password"
           name="password"
           id="password"
           th:placeholder="#{login.input.password.placeholder}"
           required
           class="form-control"
    >
    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{button.signin}"></button>
    <div class="card" style="margin-top: 20px">
        <div class="card-body">
            <p class="card-text" >
                <span th:text="#{login.new}"></span>
                <a th:text="#{login.new.create}" th:href="@{/registration}" class="memberNameLink"></a>
            </p>
        </div>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>