<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body ng-app="regFormApp">
<nav th:replace="~{fragments/navbar::navbar}"></nav>
<div class="container" ng-controller="regFormController">
    <div class="card">
        <div class="card-header" th:text="#{registration.header}"></div>
        <div class="card-body">
            <form th:action="@{/registration}" method="post">
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label id="firstNameLabel" for="firstName" th:text="#{registration.first_name.label}"></label>
                        <input type="text"
                               name="firstName"
                               id="firstName"
                               th:placeholder="#{registration.first_name.placeholder}"
                               class="form-control"
                               required
                        />
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="lastName" th:text="#{registration.last_name.label}"></label>
                        <input type="text"
                               name="lastName"
                               id="lastName"
                               th:placeholder="#{registration.last_name.placeholder}"
                               class="form-control"
                               required
                        />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label id="usernameLabel" for="username" th:text="#{registration.username.label}"></label>
                        <input type="text"
                               name="username"
                               id="username"
                               th:placeholder="#{registration.username.placeholder}"
                               class="form-control"
                               required
                        />
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="password" th:text="#{registration.password.label}"></label>
                        <input type="password"
                               name="password"
                               id="password"
                               th:placeholder="#{registration.password.placeholder}"
                               class="form-control"
                               required
                        />
                    </div>
                </div>
                <button type="submit" class="btn btn-success" th:text="#{button.signup}">Sign up</button>
            </form>
        </div>
        <div id="resultMessage" class="card-footer" th:text="${resultMessage}"></div>
    </div>
</div>

<footer th:replace="~{fragments/footer::footer}"></footer>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script type="text/javascript" th:src="@{/js/regFormApp.js}"></script>
</body>
</html>