<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav th:replace="~{fragments/navbar::navbar}"></nav>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="display-4">
                <span th:text="#{users.profile.welcome}"></span>
                <span th:text="${user.firstName}"></span>
            </h1>
            <hr>
        </div>
        <div class="card-body">
            <div class="card-text">
                <span th:text="#{users.profile.first_name}">First name: </span>
                <span th:text="${user.firstName}"></span>
            </div>
            <hr>
            <div class="card-text">
                <span th:text="#{users.profile.last_name}">Last name: </span>
                <span th:text="${user.lastName}"></span>
            </div>
            <hr>
            <div class="card-text">
                <span th:text="#{users.profile.username}">Username: </span>
                <span th:text="${user.username}"></span>
            </div>
            <hr>
            <div class="card-text">
                <span th:if="${user.activities.isEmpty()}" th:text="#{users.profile.activities.empty}">You haven't any activities</span>
                <table th:unless="${user.activities.isEmpty()}"
                       class="table table-sm table-bordered table-striped">
                    <caption style="caption-side: top" th:text="#{users.profile.activities.caption}">Your activities
                    </caption>
                    <thead>
                    <tr>
                        <th th:text="#{users.profile.activities.name}">Name</th>
                        <th th:text="#{users.profile.activities.status}">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="activity : ${user.activities}">
                        <td th:text="${activity.name}"></td>
                        <td th:text="${activity.status}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-text">
                <span th:if="${user.activityRequests.isEmpty()}" th:text="#{users.profile.activity.requests.empty}">You haven't any activity requests</span>
                <table th:unless="${user.activityRequests.isEmpty()}"
                       class="table table-sm table-bordered table-striped">
                    <caption style="caption-side: top" th:text="#{users.profile.activity.requests.caption}">Your
                        activity requests
                    </caption>
                    <thead>
                    <tr>
                        <th th:text="#{users.profile.activity.requests.activity_name}">Activity name</th>
                        <th th:text="#{users.profile.activity.requests.action}">Action</th>
                        <th th:text="#{users.profile.activity.requests.status}">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="activityRequest : ${user.activityRequests}">
                        <td th:text="${activityRequest.activity.name}"></td>
                        <td th:text="${activityRequest.action}"></td>
                        <td th:text="${activityRequest.status}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer::footer}"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>