<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body ng-app="usersListApp" ng-controller="usersController">
<nav th:replace="~{fragments/navbar::navbar}"></nav>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" th:text="#{users.header}">All registered users</div>
            <div class="card-body">
                <div th:if="${users.isEmpty()}">
                    <p th:text="#{users.empty}"></p>
                </div>
                <table th:unless="${users.isEmpty()}"  class="table table-striped">
                    <thead>
                    <tr>
                        <th th:text="#{users.id}">Id</th>
                        <th th:text="#{users.first_name}">First name</th>
                        <th th:text="#{users.last_name}">Last name</th>
                        <th th:text="#{users.username}">Email</th>
                        <th th:text="#{users.password}">Password</th>
                        <th th:text="#{users.active}">Active</th>
                        <th th:text="#{users.roles}">Roles</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td><span th:text="${user.id}"></span ></td>
                        <td><span th:text="${user.firstName}"></span ></td>
                        <td><span th:text="${user.lastName}"></span ></td>
                        <td><span th:text="${user.username}"></span ></td>
                        <td><span th:text="${user.password}"></span ></td>
                        <td><span th:text="${user.enabled}"></span ></td>
                        <td><span th:text="${user.authorities}"></span ></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer::footer}"></footer>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</body>
</html>